<section>


<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" >
						
                        <input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required" >
						
                        <input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="Login()">
							Login
						</button>
					</div>

					<div class="login100-form-social flex-c-m" style="margin-top: 19px;">
						<button class="login100-form-btn" (click)="Register()">
							Register
						</button>
					</div>
				</div>

				<div class="login100-more" style="background-image: url('../../../assets/Style/images/286.jpg');">
				</div>
			</div>
		</div>
    </div>
</section>


<div bsModal #subscribeModel="bs-modal" class="modal form" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Reset Password</h4>
        </div>
        <div class="modal-body" style="padding:20px;">
          <div class="form-group mb-3">
              <label class="label" for="Email">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  Email 
              </label>
            <input type="email" class="form-control" name="Email" placeholder="Email" [(ngModel)]="name" required>
          </div>
          <div class="form-group mb-3">
              <label class="label" for="password">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  New Password 
              </label>
            <input type="email" class="form-control" name="password" placeholder="Password"  [(ngModel)]="name" required>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" >Reset Password</button>
          <button class="btn btn-sm btn-danger" >Close</button>
        </div>
      </div>
    </div>
  </div> 