<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">Chat Gaurd</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="d-flex" style="margin-left: 645px;">
          <input class="form-control me-2" type="search" [(ngModel)]="searchFileds" placeholder="Search" aria-label="Search" style="width:350px;">
          <button class="btn btn-outline-success" type="submit" (click)="Search()">Search</button>
          <button class="btn btn-outline-danger" type="submit" style="margin-left: 15px;"
          (click)="Logout()"
          >Logout</button>
        </form>
      </div>
    </div>
</nav>